In [ ]:
def m1():
    print('functions')

class test:
    def m2(self):
        print('method')
        
m1()     #function call
t=test() #another object to call method
t.m2()   #method call

functions
method

In [ ]:
l=[10,20,20,10,30,40,10]
print(len(l))
print(l.count(10))
print(l.count(20))

7
3
2

In [14]:
l=[]
print(l)
l.append('aaa')
l.append('bbb')
l.append('ccc')
print(l)

[]
['aaa', 'bbb', 'ccc']

In [ ]:
#Wap to add element in list upto 100 which is divisible by 10.

l=[]
for i in range(101):
    if i%10==0:
        l.append(i)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
l=[10,20,30,40,50]
l.insert(1,60)
print(l)
l.insert(-2,70)
print(l)
l.insert(100,80)
print(l)

[10, 60, 20, 30, 70, 40, 50, 80]

In [28]:
l1=['aaa','bbb','ccc']
l2=[111,222,333]
l1.extend(l2)
print(l1)
l2.extend(l1)
print(l2)

['aaa', 'bbb', 'ccc', 111, 222, 333]
[111, 222, 333, 'aaa', 'bbb', 'ccc', 111, 222, 333]

In [29]:
l1=['aaa','bbb','ccc']
l2=[111,222,333]
l=l1.extend(l2)
print(l)

None

In [ ]:
# remove method

l=[10,20,30]
l.remove(10)
print(l)
l.remove(50)
print(l)

[20, 30]

ValueError: list.remove(x): x not in list

In [11]:
#To remove all the occurances of a specified elements

l=[10,10,10,10,10,10,10,10,10,10,10,20,20,30,10,40,50,70,50]
e=int(input("enter an element to remove: "))

while True:
    if e in l:
        l.remove(e)
    else:
        break
print(l)

[20, 20, 30, 40, 50, 70, 50]

In [13]:
l=[10,10,10,10,10,10,10,10,10,10,20,20,30,10,40,50,70,50,10]
e=int(input("enter an element to remove: "))
c=l.count(e)

for i in range(c):
    l.remove(e)
print(l)

[20, 20, 30, 40, 50, 70, 50]

In [6]:
s = [10,10,10,10,10,10,10,10,20,20,20,30,30]
x = int(input("Enter a number to remove: "))

for i in s:
    if i == x:
        s.remove(i)
print(s)

[10, 10, 10, 10, 20, 20, 20, 30, 30]

In [ ]:
#pop method

l=[10,20,30,40]
print(l.pop())
print(l.pop())
print(l)

40
30
[10, 20]

In [ ]:
#pop(index)

l=[10,20,30,40]
print(l.pop(1))
print(10)  #removes indexwise

20
10

In [ ]:
#clear

l=[10,20,30,40]
l.clear()
print(l)

[]

In [7]:
#reverse

l=[10,20,30,40]
l.reverse()
print(l)

[40, 30, 20, 10]

In [12]:
#sort

l=[20,10,40,30]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

x=['aa','dd','ff','bb']
x.sort()
print(x)

[10, 20, 30, 40]
[40, 30, 20, 10]
['aa', 'bb', 'dd', 'ff']

In [14]:
l=[10, 20, 30, 40]
l1=l.reverse()
print(l)

[40, 30, 20, 10]

In [15]:
#aliasing

l=[10, 20, 30, 40]
l1=l
print(id(l))
print(id(l1))

1882050629888
1882050629888

In [ ]:
# cloning

l=[10, 20, 30, 40]
l1=l.copy()
print(id(l))
print(id(l1))

1882050647424
1882050587712

In [18]:
l=[10, 20, 30, 40]
l1=l[:]
print(id(l))
print(id(l1))

1882050707712
1882050718272

In [ ]:
# mathematical operators for list

l1=[10,20,30]
l2=[40,50,60]
l=l1+l2
print(l)

[10, 20, 30, 40, 50, 60]

In [21]:
l=[10,20,30]
l1=l*3
print(l1)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [22]:
x=['aaa','bbb','ccc']
y=['aaa','bbb','ccc']
z=['AAA','BBB','CCC']
print(x==y)
print(y==z)
print(z==x)

True
False
False

In [3]:
x=['dog','cat']
y=['cat','dog']
print(x>y)
print(x<y)

True
False

In [ ]:
# membership operator

x=['a','b','c']
print('a' in x)
print('d' in x)
print('d' not in x)

True
False
True

In [ ]:
# nested list

l=[10,20,[30,40],50,[60,[70,80]]]
print(l[0])
print(l[2])
print(l[2][0])
print(l[4][1][0])
print(l[4])

10
[30, 40]
30
70
[60, [70, 80]]

In [ ]:
# matrix

l=[ [10,20,30], [40,50,60], [70,80,90] ]

for x in l:
    for y in x:
        print(y, end=' ')
    print()

10 20 30
40 50 60
70 80 90

In [ ]:
# list comprehension

l=[x for x in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# wap to find the square of each element from 1 to 10 using list comprehension

l=[x**2 for x in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# cube of 1st 10 nos which are even

l=[x**3 for x in range(11) if x%2==0]
print(l)

[0, 8, 64, 216, 512, 1000]

In [30]:
# create a list with numbers which are present in num1 but not present in num2

num1=[10,20,30,40]
num2=[30,40,70,80]

l=[n for n in num1 if n not in num2]
print(l)

[10, 20]

In [31]:
num1=[10,20,30,40]
num2=[30,40,70,80]
l=[]
for n in num1:
    if n not in num2:
        l.append(n)
print(l)

[10, 20]

In [36]:
# wap to display unique vowels present in the given word

x=input('enter a word')
v=['a','e','i','o','u']

l=[v for v in v if v in x]
print(l)

['a', 'e']

In [ ]:
x=input('enter a word')
v=['a','e','i','o','u']
f=[]

for v in v:
    if v in x:
        f.append(v)
print(f)

['i']

In [40]:
# display even nos from a list

l=[11,12,13,14,15,16,17,18,19,20]
evens=[x for x in l if x%2==0]
print(evens)

[12, 14, 16, 18, 20]

In [45]:
# covert strings to uppercase

s=['rohit','kohli','dhoni']
u=[x.upper() for x in s]
print(u)

['ROHIT', 'KOHLI', 'DHONI']

In [ ]:
# to lowercase

s=['SACHIN','SEHWAG','GANGULY']
u=[x.lower() for x in s]
print(u)

['sachin', 'sehwag', 'ganguly']

In [57]:
# exract first letter of each word

s=['Kapil','Sunil','Sanjay']
f=[x[0] for x in s]
print(f)

['K', 'S', 'S']

In [58]:
# display odd nos within 10

s=[x for x in range(11) if x%2!=0]
print(s)

[1, 3, 5, 7, 9]

In [63]:
# display square of odd nos within 10

s=[x**2 for x in range(11) if x%2!=0]
print(s)

[1, 9, 25, 49, 81]

In [5]:
# create a matrix

m=[[i for i in range(4)] for j in range(4)]
print(m, end=' ')
print()

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]