In [1]:
print(x)

NameError: name 'x' is not defined

In [2]:
print(1)

1

In [3]:
for i in range(1,6):
    print('* '*5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        print('*',end=' ')
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [10]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i>=j:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i<=j:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [2]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i + j == n - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *
    *
  *
*

In [6]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i + j == n + 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      *
    *

In [19]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i + j >= n - 1:
            print('  *', end=' ')
        else:
            print(' ', end=' ')
    print()

          *
        *   *
      *   *   *
    *   *   *   *
  *   *   *   *   *

In [9]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i + j <= n - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [22]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i>=j:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i>=j:
            print(j, end=' ')
        else:
            print(' ', end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [21]:
n=int(input("enter the no of rows"))
k=1
for i in range(n):
    for j in range(n):
        if i>=j:
            print(k, end=' ')
            k=k+1
        else:
            print(' ', end=' ')
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i>=j  and  i + j <= n - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [27]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i<=j  and  i + j >= n - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

            *
          * *
        * * *
      * * * *
        * * *
          * *
            *

In [38]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if (i>=j  and  i + j <= n - 1) or (i<=j  and  i + j >= n - 1):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*           *
* *       * *
* * *   * * *
* * * * * * *
* * *   * * *
* *       * *
*           *

In [34]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i<=j  and  i + j >= n - 1:
            print('  *', end=' ')
        else:
            print(' ', end=' ')
    print()

              *
            *   *
          *   *   *
        *   *   *   *
          *   *   *
            *   *
              *

In [1]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i + j == n + 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

            *
          *
        *
      *
    *

In [20]:
n=int(input("enter the no of rows"))
for i in range(n):
    for j in range(n):
        if i + j == n - 1 or i==j:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*               *
  *           *
    *       *
      *   *
        *
      *   *
    *       *
  *           *
*               *

In [ ]:
n=int(input('enter the no of rows'))
st=1 #stars
sp=n//2  #spaces
i=0
while i<n:
    for j in range(sp):
        print(' ', end=' ')
    for j in range(st):
        print('*', end=' ')
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1
    i+=1
    print()

      *

    * * *

  * * * * *

* * * * * * *

  * * * * *

    * * *

      *

In [10]:
n=int(input("enter the no of rows"))
st=1
sp=n-1
i=0
while i<n:
    for j in range(st):
        print('*', end=' ')
    for j in range(sp):
        print(' ', end=' ')
    for j in range(st):
        print('*', end=' ')
    print()
    if i<n//2:
        st+=1
        sp-=2
    else:
        st-=1
        sp+=2
    i+=1
    print()

*             *

* *         * *

* * *     * * *

* * * * * * * *

* * *     * * *

* *         * *

*             *

In [11]:
n=int(input('enter the no of rows'))
st=n
sp=0
i=0
while i<n:
    for j in range(sp):
        print(' ', end=' ')
    for j in range(st):
        print('*', end=' ')
    print()
    if i<n//2:
        st-=2
        sp+=1
    else:
        st+=2
        sp-=1
    i+=1
    print()

* * * * *

  * * *

    *

  * * *

* * * * *

In [15]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or i+j==n-1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
          *
        *
      *
    *
  *
* * * * * * *

In [16]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i+j==n-1 or(i==j and i<=n//2):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*           *
  *       *
    *   *
      *
    *
  *
*

In [19]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if (i==j and i<=n//2) or (i+j==n-1 and i<=n//2) or (j==n//2 and i>=n//2):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*           *
  *       *
    *   *
      *
      *
      *
      *

In [ ]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if (j==0 or j==n-1) or (i==j and i>=n//2) or (i+j==n-1 and i>=n//2):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*           *
*           *
*           *
*     *     *
*   *   *   *
* *       * *
*           *

In [7]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==j and i>=n//2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

      *
        *
          *
            *

In [14]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if j==0 or i==0 or j==n-1 or i==n//2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
*           *
*           *
* * * * * * *
*           *
*           *
*           *

In [56]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or (j==n-1 and (i<=n//2)-1) or i==n-1  :
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * * *
*
*
*
*
*             *
*             *
* * * * * * * *

In [40]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
*
*
*
*
*
* * * * * * *

In [48]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==n-1 or j==1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
  *         *
  *         *
  *         *
  *         *
  *         *
* * * * * * *

In [49]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or i==n//2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
*
*
* * * * * * *
*
*
* * * * * * *

In [50]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n//2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
*
*
* * * * * * *
*
*
*

In [78]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or j==n-1 and i>n//2 or i==n//2 and j>=n//2 or j==n//2 and n//2<=i<=3*n//4:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * * * *
*
*
*
*       * * * * *
*       *       *
*       *       *
*               *
* * * * * * * * *

In [106]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if j==n//2 or i==j and i>=n//2 or i+j==n-1 and i<=n//2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

      *     *
      *   *
      * *
      *
      * *
      *   *
      *     *

In [82]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or j==n-1 or i==j and i>=n//2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
*           *
*           *
*     *     *
*       *   *
*         * *
* * * * * * *

In [90]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if j==0 or i==0 or i==n-1 or i==n//2-1 or i==n//2+1 or j==n-1 and i<=n//2-1 or j==n-1 and i>=n//2+1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * * * *
*               *
*               *
* * * * * * * * *
*
* * * * * * * * *
*               *
*               *
* * * * * * * * *

In [94]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if j==0 or j==n-1 or i+j==n-1 and i>=n//2 or i==j and i>=n//2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*           *
*           *
*           *
*     *     *
*   *   *   *
* *       * *
*           *

In [100]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if j==0 or (i==0 and j<=n-2) or (i==n-1 and j<=n-2) or j==n-1 and 1<=i<=n-2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * *

In [ ]:
n=int(input('enter the no of rows'))
for i in range(n):
    for j in range(n):
        if i==j and i<=n//2 or i+j==n-1 and i<=n//2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

*           *
  *       *
    *   *
      *