In [6]:
t=(10,20,30,'aaa',True)
print(t[0])
print(t[3])
print(t[2:4])
print(t)
print(t[-2])

10
aaa
(30, 'aaa')
(10, 20, 30, 'aaa', True)
aaa

In [8]:
t=(20)
print(type(t))
s=(20,)
print(type(s))

<class 'int'>
<class 'tuple'>

In [9]:
import sys
l=[10,20,30]
t=(10,20,30)
print(sys.getsizeof(l))
print(sys.getsizeof(t))

88
64

In [7]:
# tuple creation

l=[10,20,30]
t=tuple(l)
print(type(t))
print(type(l))
print(id(l))
print(id(t))

<class 'tuple'>
<class 'list'>
2109442523328
2109442306880

In [12]:
t=(10,20,30,40)
print(t[0])
print(t[-1])
print(t[1:])
print(t[:100])

10
40
(20, 30, 40)
(10, 20, 30, 40)

In [18]:
# mathematical operation

t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)
print(t1*3)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [25]:
t=(2,8,1,6,4,3)
print(sorted(t))
l=tuple(sorted(t))
print(l)
l1=tuple(sorted(t,reverse=True))
print(l1)

[1, 2, 3, 4, 6, 8]
(1, 2, 3, 4, 6, 8)
(8, 6, 4, 3, 2, 1)

In [ ]:
t=(9,3,6,2,5,7)
print(min(t))
print(max(t))

t1=('aaa','nnn','bbb','zzz')
print(min(t1))
print(max(t1))

t2=('aa','AA','Ab')
print(min(t2))
print(max(t2))

2
9
aaa
zzz
AA
aa

In [ ]:
# packing and unpacking

a=10
b=20
c=30
t=a,b,c
print(t)

a,b,c=t
print(a,b,c) #unpacking

(10, 20, 30)

ValueError: too many values to unpack (expected 2)

In [2]:
t=(10, 20, 30, 40)
[*a]=t
print(a)
print(tuple(a))

[10, 20, 30, 40]
(10, 20, 30, 40)

In [50]:
t=(10, 20, 30, 40)
a,b,*c=t
print(c)

[30, 40]

In [51]:
t=(10,20,30,40,50,60)
*a,=t
print(a)

[10, 20, 30, 40, 50, 60]

In [2]:
t=(x for x in range(6))
print(t)

<generator object <genexpr> at 0x000001CF14515300>

In [3]:
t=[x for x in range(6)]
print(t)

[0, 1, 2, 3, 4, 5]